.footer{
background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
padding: 60px 80px 108px;;
background-size: cover;
}

.footer__content{
display: flex;
justify-content: space-between;
}

.footer__logo{
  height: 39px;
  width: 105px;
  margin: 0px auto auto 0px;
}

.footer__social-heading{
color: white;

}

.footer__list{
list-style-type:none;
margin: 0;
padding: 0;
}

.footer__list-item{
 display: flex;
 gap: 10px;
}

.footer__social-icon{

}

.footer__social-link{
 color: white;
 margin: 0;
}

.footer__social-link:hover{
  transition: #C1C1C1 0.3s ease-in-out;
}

.footer__copyright{
 color: white;
 margin: 108px 0px 0px 0px;
}