.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  margin-bottom: 32px;
  display: block;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
}

.form__input {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  display: block;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 8px;
}

.form__botton {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}
