.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background: #ffffff url(../images/background_header.svg) no-repeat center
    cover; /* moved over from body rules. maybe move over to .header?*/
}

.header {
  padding: 30px 80px 40px;
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg) no-repeat center cover;
  size: cover;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  margin: 30px 80px 0px 30px;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  height: 39px;
  width: 105px;
  justify-content: flex-start;
}

.nav__links {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style-type: none;
}

.nav__link {
  color: #000;
  text-decoration: none;
}

.header__container{
  max-width: 729px;
}

.header__title {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  max-width: 729px;
  margin: 183px 0px 28px 80px;
}

.header__span-accent {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  display: block;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-left: 80px !important;
  }

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin: auto 80px 40px;
}

.header__footer-hours{

}

.header__footer-address{
  margin-top: auto;
}

.header__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}

.recipes {
  padding: 100px 80px 215px;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background: no-repeat center cover;
}

.recipes__title{
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin-bottom: 24px;
}

.recipes__subtitle{
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin-bottom: 80px;
}

.recipes__videos{
  display: flex;
  gap: 40px;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  width: 480px;
  height: 273px;
  margin: 0 auto;
}


.recipes__videos-caption{
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}


